@media only screen and (max-width: 992px) {
    .nav-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-navbar-light .navbar-brand {
        color: #fff;
    }

    .navbar-brand span {
        color: #fff;
    }

    .nav-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 0;
        padding-right: 0;
        color: #fff;
        font-size: 20px;
        line-height: 46px;
    }

    .social-menu ul {
        position: absolute;
        top: 23%;
        left: 72%;
    }

    .heading-text {
        margin: 40px 0px 0px 0px;
    }



}