body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}

.nav-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.nav-navbar-light .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.navbar-brand {
    font-weight: 900;
    font-size: 26px;
    position: relative;
    z-index: 0;
}

.header-sec {
    height: 18vh;
}

.nav-navbar-light .navbar-brand {
    color: #000000;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 26px;
    font-weight: 800;
}

.navbar-brand span {
    color: #fff;
}

.navbar-brand:after {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 40px;
    height: 40px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}


.navbar .nav-item {
    padding: 10px 20px;
}

.navbar .nav-link {
    font-size: 17px;
    margin-left: 0px;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #3e64ff;
    font-size: 20px;
    font-weight: 600;
}


.fa-bars {
    color: #007bff;
    font-size: 30px;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 86%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 5px;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgb(0 0 0 / 50%);
}

.social-menu ul li .fab {
    font-size: 25px;
    line-height: 45px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #b82e47;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .1;
    width: 50%;
    background: #3e64ff;
}

.heading-text {
    margin: 140px 0px 0px 0px;
}

.home-sec {
    height: 78vh;
}

.sub-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
}

.head-name {
    font-size: 65px;
    font-weight: 700;
    color: #312f2f;
    line-height: 1.5;
}

.slider h2 {
    font-size: 25px;
    font-weight: 700;
    color: #312f2f;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.head-profile {
    color: #3e64ff;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 2;
}

.mouse-icon {
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;

}

.mouse-wheel {
    margin: 21px auto 0;
    display: block;
    width: 23px;
    background: transparent;
    border-radius: 50%;
    animation: 1.6s ease infinite wheel-up-down;
    color: #3e64ff;
    font-size: 20px;
}

.mouse-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #ecf0ff;
    z-index: -1;
    transform: rotate(45deg);
}

.text-about {
    color: #3e64ff;
    font-weight: 600;
    font-size: 45px;
    line-height: 2;
    text-align: center;
}

.p-about {
    color: #464545;
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
}


.about-info {
    border: 1px solid #f0eaea;
    border-radius: 19px;
}

.about-info li {
    list-style: none;
    margin-bottom: 10px;

}

.about-info li span:first-child {
    font-weight: 600;
    color: #000000;
    width: 130px;
}

#nav {
    top: 180px;
    position: sticky;
    margin: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px;
}

#nav li a {
    color: #000000;
    text-decoration: none;
}

#nav li a:hover {
    color: #3e64ff;
    margin-left: 20px;
    position: relative;
}

.page .heading {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 49px;
    color: #3e64ff;
}

.resume-wrap {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.resume-wrap .icon {
    width: 50px;
    height: 50px;
    background: #3e64ff;
    border-radius: 50%;
}

.resume-wrap .icon span {
    color: #fff;
    font-size: 19px;
}

.resume-wrap .text {
    width: calc(100% - 50px);
}

.resume-wrap .date {
    font-weight: 700;
    font-size: 16px;
    color: #3e64ff;
}

.resume-wrap h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}



.page .heading {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 49px;
    color: #3e64ff;
}

.my-tool-box-one {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 25px;
    margin-bottom: 30px;
    box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    text-align: center;
}

.h3-title {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    line-height: 35px;
    font-weight: 700;
    color: black;
}

.project-head {
    color: #3e64ff;
    font-weight: 600;
    font-size: 45px;
    line-height: 2;
    text-align: center;
}

.card-head {
    border-bottom: none;
}

.hire-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    background: #3e64ff;
    opacity: 0.2;
}

.hire-section {
    padding: 7em 0;
    position: relative;
}

.hire-img {
    background-image: url(../image/freelancing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hire-text {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.hire-section h2 span {
    color: #a0f669;
}

.contact-me {
    color: #3e64ff;
    font-weight: 600;
    font-size: 45px;
    line-height: 2;
    text-align: center;
}

.icon-fas {
    color: #3e64ff;
}

.icon-fab {
    font-size: 20px;
}