.prof-pic {
  border-radius: 50%;
  width: 45%;
  margin-top: 60px;
  margin-left: 100px;
}
.btn-expand {
  text-transform: uppercase;
  text-decoration: auto;
  color: rgb(36, 35, 35);
  font-size: 12.5px;
}

.side-bar {
  position: absolute; }
.profile-link {
  display: grid;
}

.social-link {
  color: black;
  margin: 0px 8px;
}

.clicker {
  outline:none;
  cursor:pointer;
  }
  
  .hiddendiv{
  display:none;
  width: 100%;
  display: grid;
  background-color: white;
  }
  
  .clicker:focus + .hiddendiv{
  display:block;
  }
  .abt-img {
  width: 102.2%;
  margin-left: -8px;
  margin-top: -8px;
  }
  .personal-info{
    justify-items: center;
    display: grid;
    background-color: transparent;
  }
  .info-btn {
    justify-items: center;
    text-align: center;
    background-color: transparent;
  }
  #spin {
    color:rgba(122, 148, 235, 0.548);
  }
  #spin:after {
    content:"";
    animation: spin 5s linear infinite;
  }
  @keyframes spin {
    0% { content:"RANJEET MISAL";}
    20% { content:"DEVELOPER";}
    40% { content:"FROM INDIA";}
  }
  @keyframes mymove {
    from {right: 20px;}
    to {left: 0px}
  }
  .fontsty {
    font-family: 'Quicksand', sans-serif;
  }
.skill, .resume, .services, .contactme, .portfolio {    font-size: 15px;
  color: #1a1a1ad6;
  padding-bottom: 10px;
  border-bottom: 1px solid #66666666;}
.skill-value {
  padding-bottom: 10px;
  color: #666666c7;
  font-style: italic;
}
.dots {
  height: 8px;
  width: 8px;
  background-color: rgba(70, 95, 235, 0.904);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  
}
#service-logo {
  border-radius: 50%;
  background-color: rgba(70, 165, 243, 0.842);
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 12px;
  font-size: 25px;
}
.submitbtn:hover {
  color: #58b1d4d8;
}

.dot{
  width:8px;
  height:8px;
background: rgba(0, 162, 255, 0.767);
  border-radius:50%;
  margin: 4px 0px;
}

.line{
  height:164px;
  width:1px;
  background: rgba(0, 162, 255, 0.767);
  margin-left:3.3px;
}
.date:after, .date:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.line1{
  height:17px;
  width:1px;
  background: rgba(0, 162, 255, 0.767);
  margin-left:3.3px;
}
.port:hover {
  border-bottom: 1px solid rgba(0, 162, 255, 0.767);
}
/* portfolio */
.port-cont {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transition: transform .2s;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 310px;
  height: 232px;
}
.image:hover{
  transform: scale(1.5);
}

.port-cont:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 16px;
  padding: 16px 32px;
}
.middle:hover {
  background-color: #292b2e79;
}

  
}
