.prof-pic {
  border-radius: 50%;
  width: 50%;
  margin-top: 60px;
  margin-left: 70px;
}

.side-bar {
  position: absolute; }
.profile-link {
  display: grid;
}

.social-link {
  color: black;
  margin: 0px 8px;
}

.clicker {
  outline:none;
  cursor:pointer;
  }
  
  .hiddendiv{
  display:none;
  width: 100%;
  display: grid;
  background-color: white;
  }
  
  .clicker:focus + .hiddendiv{
  display:block;
  }
  .abt-img {
  width: 50%;
  margin-left: -8px;
  margin-top: -8px;
  }
  .personal-info{
    justify-items: center;
    display: grid;
    background-color: white;
  }
  .info-btn {
    justify-items: center;
    text-align: center;
  }
  #spin {
    color:red;
  }
  #spin:after {
    content:"";
    animation: spin 5s linear infinite;
  }
  @keyframes spin {
    0% { content:"RANJEET MISAL";}
    20% { content:"DEVELOPER";}
    40% { content:"FROM INDIA";}
  }
  @keyframes mymove {
    from {right: 20px;}
    to {left: 0px}
  }

