*{
  margin: 0px;
  padding: 0px;
}
h1 {
    font-weight: 800;
    font-size: 4.375rem;
    line-height: 3.75rem;

}

p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
a {
  text-decoration: none;
}

body {
  font-family: "Rajdhani", sans-serif;
 background-color: #212529;
  width: 100%;
}
/*  Header section */
.header-wraper .nav-item .nav-link {
  color: white;
  font-weight: 700;
  display: inline-block;
}
.header-wraper .nav-item .nav-link:active,
.header-wraper .nav-item .nav-link:hover {
  color: green;
}
.dropdown-menu 
{
  background: #243654;
  border-radius: 0px;
 
}

li.nav-item {
  padding: 0 21px;
  font-weight: 700;
  font-size: medium;
}


.btn:hover {
  background: gray; 
}

.about-btn {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
    /*  Header section end */
  
/* banner section start */
.banner-wrap {
  padding-top: 6.875rem;
  color: #fff;
  height: 700px;
  background-repeat: no-repeat;
  background-color: #102a3c;
  background-position: top center;
  background-size: cover;

}

.banner-wrap .banner-content {
  align-self: center;
}


.img-fluid {
  max-width: 200%;
  height: auto;
}

/* banner section end */

/* About section */
.about-wrap {
 background-color: #212529; 
 height: 650px;
}

.about-content h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
/* About section end */

/* progress section start */
.progressbar-sec {
  padding: 80px 0;
  background: #243654;
  color: #fff;
  
}

.progressbar-sec .box {
  text-align: center;
  height: 220px;
    width: 220px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15),
        -6px -6px 10px -1px rgba(255 255 255 / .7);
}
.progressbar-sec .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0 0 0/ .2),
        inset -4px -4px 6px -1px rgba(255 255 255 / .7),
        -.5px -.5px 0px rgba(255 255 255 / 1),
        .5px .5px 0px rgba(0 0 0 /.15),
        0px 12px 10px -10px rgba(0 0 0 / 0.05);
}
.progressbar-sec .chart canvas {
  position: absolute;
}
.progressbar-sec .box h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--title-color);
  margin-top: -4px;
  margin-bottom: -7px;
}
/* progress section end */
/* 


*/


.mt-100{
  margin-top: 200px;
}
.progress {
  width: 150px;
  height: 150px !important;
  float: left; 
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #000;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.blue .progress-bar {
  border-color: #049dff;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #fdba04;
}
.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}
.progress.yellow .progress-left .progress-bar {
  animation: none;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

/* service section start */

.service-wrap {
  text-align: center;
}
.service-wrap .head-section {
  color: #fff;
  border-bottom: green;
}
.service-wrap .head-section h3
{
  font-weight: 300;
}
.service-wrap .head-section h2 {
  font-weight: bold;
}

/* service section end */

/* review section start */
.review-wrap {
  background-color: #243654;
  text-align: center;
  display: flex;
  padding: 80px 0;
}
.count {
  color: white;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.review-des {
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: -4px;
}

/* review section end */

/* portfolio section */

#Portfolio {
  background-color: #212529;
}
.section-heading h5 {
  text-transform: uppercase;
  font-weight: 600;
}
.section-heading h2 {
  font-weight: bold;
}
.btn {
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
}

.btn:hover {
  background:#4cb950 ;
}
.section-heading {
  color: #fff;
}

/* portfolio section end */

/* testimonial section */

#testimonial {
  position: relative;
  background: #102a3c;
  padding: 120px 0;
  width: 1200px;
  height: 520px;
  border-radius: 10px;
}
.testimonial-text {
  text-align: center;
  padding: 10px;
}
.testimonial .single-slider .client-name span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #243654;
}
.testimonial .client-name span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #243654;
}

.card-text {
  padding: 3px;
  margin: 5px 5px;
  border-bottom: 1px solid lightgrey ;
}

/* testimonial end */

/* contact section */

#contact-details .img-fluid {
    justify-items: center;
    padding-top: 10px;
}
#contact-details .section-heading h5 {
    color: white;
    font-family: var(--alata-font);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -4px;
    margin-bottom: 10px;

}
#contact-details .section-heading h2 {
  color: white;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 15px;
}
.contact-form input {
  width: 100%;
  border-bottom: 1px solid #9597b6;
  background: transparent;
  padding: 0 0 11px;
  color: white;
  font-size: 18px;
  line-height: 100%;
}

input, textarea {
  outline: none;
  border: 0;
}
.contact-form textarea {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #9597b6;
  background: transparent;
  padding: 0 0 11px;
  color: white;
  font-size: 18px;
  line-height: 100%;
}
.def-btn {
  background:#4cb950;
  height: 55px;
  line-height: 55px;
  padding: 0 25px;
  border-radius: 8px;
  font-weight: 400;
  color: white;
  font-size: 18px;
  border: none;
}

/* contact section end */

/* blog section */

