body {
  background-color:black;
  font-family: "Rajdhani", sans-serif;
}

.dropdown-menu 

{
  background: #243654;
}
a .nav-link:hover {
  color: red;
}
li.nav-item {
  padding: 0 21px;
  font-weight: 700;
  font-size: medium;
}


.btn:hover {
  background: gray; 
}

.banner {
  color: #fff;
}
.heading {
  font-weight: bold;
}

.img-fluid {
  max-width: 200%;
  height: auto;
}