body {
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: rgb(6, 19, 25);
}

/* header sectionc start*/ 

.logo-img {
  width: 150px;
}

.sidenav {
  height: 100%;
  
  width: 0;
  
  position: fixed;
 
  z-index: 1;
  
  top: 0;
 
  left: 0;
  background-color: #111;
 
  overflow-x: hidden;
  
  padding-top: 60px;
  
  transition: 0.5s;

}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}

.menu-bar {
  font-size: 35px;
  color: white;
  margin: 5px 0px;
}


/*introduction section start  */

.introduction{
  color: orangered;
}

/* About me section start */

.list-wrap,
.list-wrap2 {
  list-style: none;
  margin: 0px -36px;

}
.btn1 {
  background-color: orangered;
  font-weight: 300;
  

}
.btn1:hover {
  background-color: #102a3c;
}
/* third section  */
.bg-img-div{
  background-image: url('../img/counter_bg6.jpg');
  text-align: center;
}
.complete,
.Global,
.Success,
.Completed {
  margin: 10px -36px;
}

/*  service and solution section   */
.head-section {
  text-align: center;
}
.img-text-wrap {
  text-align: center;
}


/*  work section start */
.head-div {
  text-align: center;
}

.btn-all-div{
  background-color: orangered;
}

.btn-div{
  background-color: #102039;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}
.btn-div:hover {
  background-color: orangered;
}
.button-div {
  text-align: center;
  
}
/* TESTIMONIAL section start */
.heading-seven {
  text-align: center;
}
.intro-section{
  display: inline;
}

.web-designer-img{
  border-radius: 12px;
  
}
.icons-div-1{
  background:none;
  border: none;
}

/* Our Experience Allows section */
 /* .brand-name1{
position: absolute;
top: -140px;
background-color: green;

 } */
 .bg-video-section{
  background-image: url('../img/video_bg6.jpg');
  padding: 253px 36px;
}


/* contact form section */
.form-bg-color {
  background-color: rgb(6, 19, 25);
 /* border-top: none;
  border-right: none;
  border-left: none;  */
   outline: none;
    border: 0; 
  font-size: 20px;
  width: 100%;
  color:white;
}
/* Update From Newsfeeds */
.read-btn {
  align-items: flex-end;
  color: white;
  font-size: 15px;
}

/* footer section */

.logo-img2 {

  width: 150px;
}

.btext::before {
  content: "Porichiti";
  color: orangered;
  font-size: 20x;
}

 i {
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
} 
.icon-div i{
  display: inline;
  /* float: left;  */
  width: 36px;
  height: 36px;
  border: 2px solid #909090;
  border-radius: 20px;
  margin-right: 10px; 

}
.social-div:hover{
  background-color: orangered;
} 





.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}






